.payments {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #c5dac0, #3a8838);
  background-repeat: no-repeat;
}

.payments .home-paper {
  background-image: unset;
  max-width: unset !important;
}

.payments .users-list-container {
  background-image: linear-gradient(181deg, #a2c699, #52b550);
  width: 100%;
  max-height: calc(100vh - 200px);
}
