.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #9ca3af, #2563eb);
  background-repeat: no-repeat;
}

.home-paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  background-image: linear-gradient(160deg, #a5b9e1, #2a57c3);
  margin: 0 15px;
}

.home-paper h1 {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.home-nav-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  margin-top: 20px;
}

.home-nav-btns button {
  flex-grow: 1;
}
