.users {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #9ca3af, #2563eb);
  background-repeat: no-repeat;
}

.users .home-paper {
  width: calc(100% - 30px);
  max-width: unset!important;
}

.user-filters {
  margin-top: 20px;
  flex-grow: 1;
}

.user-filters input {
  width: 100%;
}

.users-list-container {
  border-radius: 10px;
  max-width: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  max-height: calc(100vh - 160px);
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(180deg, #6b83b3, #4d72cd);
  background-repeat: no-repeat;
}

.users-list {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 14px;
}

.users-list th, .users-list td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.users-list th {
  border-top: none;
}

.users-list th:first-child,
.users-list td:first-child {
  border-left: none;
}

.users-list th:last-child,
.users-list td:last-child {
  border-right: none;
}

.users-list tr:last-child td {
  border-bottom: none;
}

.users-list th {
  font-weight: bold;
  text-align: center;
}

.user-status-active {
  color: #6ff16f;
  font-size: 12px;
  font-weight: bold;
}

.user-status-inactive {
  color: #ff4242;
  font-size: 12px;
  font-weight: bold;
}

.users-list td:first-child {
  text-align: center;
}

.users-list tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.currence-highlight {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
}

.user-action-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 15px;
  padding: 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

.pagination-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-filters-inner {
  display: flex;
  gap: 10px;
}

.list-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-field-title {
  color: #FFFFFF;
  font-size: 12px;
}

.users-list input[type=checkbox] {
  appearance: none;
  background-color: #f0f0f0;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.users .users-list input[type=checkbox] {
  border: 2px solid #6f92e8;
}

.users-list input[type=checkbox]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10.4l-3.2-3.2L2 9.2l4 4 8-8-1.4-1.4L6 10.4z'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.users .users-list input[type=checkbox]:checked {
  background-color: #5481c5;
  border-color: #5272c1;
}

.users-list input[type=checkbox]:hover {
  border-color: #45a049;
}

.users .users-list input[type=checkbox]:hover {
  border-color: #4f70b8;
}
